body {
    width: 100%;
    font-family: Helvetica;
    padding: 25px;
}

.destination {
    border: black solid 1px;
    width: 200px;
    display: inline-block;
    margin: 20px auto;
    text-align: center;

}


#activities {
    width: 800px;
    height: 150px;
    overflow: scroll;
    margin: 0px auto;
}
